html {
	font-family: Verdana, Geneva, sans-serif;
}

td {
    border: 1px solid #ccc;
	font-size: 12px;
	color: #999;
	font-family: verdana, Verdana, Geneva, sans-serif;
	padding: 5px;
	vertical-align: top;
}

td.count {
	width: 15px;
	padding: 5px !important;
	color: #fff !important;
	vertical-align: middle !important;
}

td a {
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	color: #fff;
	text-decoration: none;
}