html, body {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	height: 99%;
	min-height: 99%;
}

/* root element for tabs  */
ul.css-tabs {  
	margin:0 !important; 
	padding:0;
	height:30px;
	border-bottom:1px solid #666;	
}

/* single tab */
ul.css-tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a { 
	float:left;
	font-size:12px;
	display:block;
	padding:5px 30px;	
	text-decoration:none;
	border:1px solid #666;	
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#777;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
	-moz-border-radius:4px 4px 0 0;	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

ul.css-tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}
	
/* selected tab */
ul.css-tabs a.current {
	background-color:#ddd;
	border-bottom:1px solid #ddd;	
	color:#000;	
	cursor:default;
}

	
/* tab pane */
.css-panes {
	border-width:0 1px 1px 1px;
	display:block; 
	color: white; 
	min-height: 700px;
	padding: 20px;
	height: 88%;
	background: #EEE url(../img/galaxy.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	border-left: 1px solid #666; 
	border-right: 1px solid #666; 
	border-bottom: 1px solid #666;
}

/*ajax pages*/
table {
	border-collapse:collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
table, th, td {
	border: 2px solid #eaeaea;
}
table a {
	color: #666666;
	text-decoration: none;
}
table a:hover {
	color: #CCC;
}

table {
	color: #666666;
}

td.odd {
	width: 150px;  
	text-align: center; 
	background: #f7f7f7;
	height: 20px;
}
td.even {
	background: #FFF;
	text-align: center;
	height: 20px;
}

.content {
	padding: 10px;
	position: relative;
}

.bottomBar {
	display: block;
	clear: both;
	position: relative;
	top: 90%;
	background: #000;
}

