body{
    width:12000px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}

.sec{
    margin:0px;
    bottom:0px;
    width:4000px;
    float:left;
    height:100%;
}
.sec h2{
}
.sec p{    width:600px;
}
.black{
    color:#fff;
}
.white{
    color:#fff;
    background:#000;
}

.sec ul{
    list-style:none;
}
.black ul li{
    float:left;
    color:#aaa;
}
.black ul li a{
    display:block;
    color:#f0f0f0;
}
.black ul li a:hover{
    text-decoration:none;
    color:#fff;
}
.white ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.white ul li a{
    display:block;
    color:#222;
}
.white ul li a:hover{
    text-decoration:none;
    color:#000;
}